body {
  font-family: "Oxygen", sans-serif;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
}

.wrapper {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
}
.container {
  background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf);
  display: flex;
  margin: 2% auto;
  height: 100%;
  border: 3px solid white;
  border-radius: 10px;
  width: 70%;
}
.socImageContainer {
  position: relative;
  top: 5%;
  width: 100%;

  display: inline-flex;
  justify-content: center;
}
.leftContainer {
  width: 25%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-right: 3px solid white;
}
.rightContainer {
  position: relative;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 75%;
  font-weight: bold;

  color: white;
  background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf);
}

h1 {
  font-weight: bold;
}
h1,
h3 {
  text-align: center;
}

.socialMediaContainer {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}
.twitterContainer,
.facebookContainer,
.youtubeContainer,
.linkedInContainer,
.mediumContainer,
.locationContainer,
.emailContainer {
  display: inline-flex;

  background-color: rgba(34, 34, 34, 0.452);
  border-radius: 25%;
}
.twitterLogo,
.facebookLogo,
.youtubeLogo,
.linkedInLogo,
.mediumLogo,
.locationLogo,
.emailLogo {
  display: flex;
  width: 25px;
  height: 25px;
}

.twitterContainer:hover {
  cursor: pointer;
  background-color: #00acee;
}
.facebookContainer:hover {
  cursor: pointer;
  background-color: #3b5998;
}
.youtubeContainer:hover {
  cursor: pointer;
  background-color: #c4302b;
}
.linkedInContainer:hover {
  cursor: pointer;
  background-color: #0077b5;
}
.mediumContainer:hover {
  cursor: pointer;
  background-color: #00ab6c;
}
.locationContainer:hover {
  cursor: pointer;
  background-color: #c4302b;
}
.emailContainer:hover {
  cursor: pointer;
  background-color: #3b5998;
}
.contactContainer {
  display: flex;
  justify-content: center;
}
.locationContainer {
  margin-right: 20px;
}
h2 {
  text-align: center;
  color: white;
}
h3 {
  margin: 2px;
}
.socImage {
  width: 250px;
  height: 200px;
}
/* LOGO MEDIA QUERY */
@media only screen and (max-width: 1290px) {
  .socImage {
    height: 220px;
    width: 220px;
  }
}
@media only screen and (max-width: 980px) {
  .socImage {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 875px) {
  .socImage {
    height: 180px;
    width: 180px;
  }
}

@media only screen and (max-width: 785px) {
  .socImage {
    height: 160px;
    width: 160px;
  }
}
@media only screen and (max-width: 720px) {
  .socImage {
    height: 140px;
    width: 140px;
  }
}

/* RIGHT CONTAINER MEDIA QUERY */
@media only screen and (max-width: 964px) {
  .leftContainer {
    width: 40%;
  }
  .h1 {
    font-size: 1.2em;
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 550px) {
  .rightContainer {
    display: none;
    width: 0%;
  }
  .socImage {
    display: none;
  }
  .leftContainer {
    width: 100%;
  }
  .socialMediaContainer {
    display: none;
  }
  .contactContainer {
    display: none;
  }
  .followUs {
    display: none;
  }
  .contactUs {
    display: none;
  }
}
@media only screen and (max-width: 549px) {
  .rightContainer {
    display: unset;
    position: absolute;
    width: 50%;
    background-image: none;
  }
}
