/* FULL CONTAINER  */
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400");
.body {
  font-family: "Oxygen", sans-serif;
}
.container {
  /* background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf); */
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: "header form";

  height: 100vh;
}
h1 {
  font-weight: bold;
}
h1,
h3 {
  text-align: center;
  margin: 2px;
}
h2 {
  text-align: center;
  color: white;
}
.wrapper {
  position: fixed;

  width: 100%;
  height: 100%;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  /* background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf); */
}
/* LEFT CONTAINER CONTENT */
.leftContainer {
  background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf);
  /* background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png"); */
  grid-area: header;
  color: white;
}
.socialMediaContainer {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}
.twitterContainer,
.facebookContainer,
.youtubeContainer,
.linkedInContainer,
.mediumContainer,
.locationContainer,
.emailContainer {
  display: inline-flex;

  border-radius: 5px;
}
.twitterLogo,
.facebookLogo,
.youtubeLogo,
.linkedInLogo,
.mediumLogo,
.locationLogo,
.emailLogo {
  width: 40px;
  height: 40px;
}

.twitterContainer:hover {
  cursor: pointer;
  background-color: #00acee;
}
.facebookContainer:hover {
  cursor: pointer;
  background-color: #3b5998;
}
.youtubeContainer:hover {
  cursor: pointer;
  background-color: #c4302b;
}
.linkedInContainer:hover {
  cursor: pointer;
  background-color: #0077b5;
}
.mediumContainer:hover {
  cursor: pointer;
  background-color: #00ab6c;
}
.locationContainer:hover {
  cursor: pointer;
  background-color: #c4302b;
}
.emailContainer:hover {
  cursor: pointer;
  background-color: #3b5998;
}
.webAddress {
  display: flex;
  justify-content: center;
}
.contactUs {
  margin: 3%;
}
.followUs {
  margin: 3%;
}

/* RIGHT CONTAINER CONTENT */
.socImageContainer {
  position: relative;
  top: 5%;
  width: 100%;

  display: inline-flex;
  justify-content: center;
}

.rightContainer {
  grid-area: form;
  position: relative;

  font-weight: bold;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  color: white;
}

.contactContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.locationContainer {
  margin-right: 20px;
}

.socImage {
  width: 250px;
  height: 200px;
}
/* LOGO MEDIA QUERY */
@media only screen and (max-width: 1290px) {
  .socImage {
    height: 220px;
    width: 220px;
  }
}
@media only screen and (max-width: 980px) {
  .socImage {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 875px) {
  .socImage {
    height: 180px;
    width: 180px;
  }
}

@media only screen and (max-width: 785px) {
  .socImage {
    height: 160px;
    width: 160px;
  }
}
@media only screen and (max-width: 720px) {
  .socImage {
    height: 140px;
    width: 140px;
  }
}

/* MOBILE VIEW MEDIA QUERY */
/* @media only screen and (max-width: 800px) {
 
} */
@media only screen and (max-width: 750px) {
  .socialMediaContainer {
    display: none;
  }
  .contactContainer {
    display: none;
  }
  .followUs {
    display: none;
  }
  .contactUs {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "header" "form";
    margin: 5% auto;
    height: 100%;
    border: 7px solid white;
    border-radius: 7px;
    width: 70%;
    height: 90%;
  }
  .leftContainer {
    border: 0px;
    border-radius: 0px;

    border-bottom: #e0e0e0 solid 7px;
  }
  .rightContainer {
    border: 0px;
  }
  h1 {
    font-size: 1.3em;
  }
  h2 {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 350px) {
  .container {
    height: 90%;
  }
}
