@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400");
/* MAIN CONTAINERS */
.body {
  font-family: "Oxygen", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: "header form";

  height: 100vh;
}
.leftContainer {
  grid-area: header;

  color: white;

  background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf);
}
.rightContainer {
  grid-area: form;
  color: white;
  position: relative;
  /* margin: 0 5%; */
  background-image: url(../../Images/starsBackground.png);
  /* background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png"); */

  font-weight: bold;
}
/* LEFT CONTAINER CONTENT */
/* SOC IMAGE */
.socImage {
  width: 200px;
  height: 200px;
}
.socImageContainer {
  top: 5%;
  position: relative;
  text-align: center;
}
.instructionsContainer {
  position: relative;
  top: 10%;
  font-size: 1.3em;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  padding: 0;
}
.instructionsContainer li {
  margin-left: 20px;
  margin-bottom: 10px;
  list-style: circle;
}

.instructionsBox {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.8em;
  position: relative;
  top: 10%;
  display: flex;
  justify-content: center;
}

/* RIGHT CONTAINER CONTENT */
.firstAndLastNameContainer {
  display: flex;
}
.firstNameContainer {
  flex: 1;
}
.lastNameContainer {
  margin-left: 10px;
  flex: 1;
}

.firstName,
.lastName {
  font-size: 1.2em;
  color: white;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: 5px solid #11cf84;
  box-sizing: border-box;
  margin-top: 10px;
}
.email {
  font-size: 1.2em;
  color: white;
  padding: 10px;
  width: 50%;
  background-color: transparent;
  border: 5px solid #11cf84;
  box-sizing: border-box;
  margin-top: 10px;
}
.nextButton {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 50px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 50%;
  color: white;
  padding: 10px;
  border-style: none;
  background-color: #11cf84;
}

::placeholder {
  color: white;
}
.firstNameLabel,
.lastNameLabel,
.emailLabel {
  font-weight: bold;
  color: white;
}

.firstNameContainer,
.lastNameContainer,
.emailContainer {
  margin-bottom: 60px;
}
.header {
  color: white;
}

/* FORM */
.contractText {
  position: relative;
  top: 5%;
}
.formContainer {
  position: relative;
  top: 10%;
  background-color: white;
  width: 70%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: -1px 0px 5px 1px rgba(222, 222, 222, 1);
  -moz-box-shadow: -1px 0px 5px 1px rgba(222, 222, 222, 1);
  box-shadow: -1px 0px 5px 1px rgba(222, 222, 222, 1);
}
.termsAndConditionsContainer {
  color: black;
  overflow-y: scroll;
  height: 400px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: justify;
}

.paragraphTwo,
.paragraphThree,
.paragraphThree {
  font-size: 1.1em;
}
.paragraphThree,
.paragraphFour {
  margin: 10px 0;
}
.horizontalLine {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
}
.termsContainerText {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.buttonContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.acceptButton {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  bottom: 0;
  width: 25%;
  color: white;
  padding: 10px;
  border-style: none;
  background-color: #11cf84;
  margin-right: 20px;
}
.declineButton {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  bottom: 0;
  width: 25%;
  color: white;
  padding: 10px;
  border-style: none;
  background-color: red;
}
