.container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  color: white;
  background-image: linear-gradient(
    to bottom right,
    rgba(48, 143, 214, 0.57),
    rgba(108, 122, 137, 0.33)
  );
}
.rightContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  font-weight: bold;
}
.formContainer {
  width: 50%;
  color: white;
  margin-bottom: 40px;
  font-size: 1.3em;
}

ul {
  list-style: none;
  padding: 0px;
}
ul li {
  margin-top: 10px;
}

.rightContainer {
  display: flex;
  justify-content: center;
  grid-area: form;
  color: white;
  position: relative;
  margin: 0 5%;
  font-weight: bold;
}

/* LEFT CONTAINER CONTENT */
/* SOC IMAGE */
.socImage {
  width: 200px;
  height: 200px;
  padding: 20px;
  box-shadow: 0px 0px 10px #fff;
  border-radius: 200px;
}
.socImageContainer {
  text-align: center;
  padding: 20px 0;
}
.instructionsContainer {
  font-size: 1.3em;
  margin: 0;
  /* margin-top: 20px; */
  /* margin-left: 20px; */
  padding: 20px;
}
.instructionsContainer li {
  margin-bottom: 30px;
  list-style: none;
  font-size: 1.2em;
  text-align: center;
}

.instructionsBox {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.8em;
  position: relative;
  top: 20%;
  display: flex;
  justify-content: center;
}

.submitButton {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 25%;
  color: white;
  padding: 10px;
  border-style: none;
  background-color: #11cf84;
}
.previousButton {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 25%;
  color: white;
  padding: 10px;
  border-style: none;
  background-color: #11cf84;
}
.buttons {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.applicationFormText {
  text-align: center;
  font-size: 2.2em;
  padding: 20px 0;
}
.applicationStepText {
  font-size: 2.2em;
  padding: 30px 0;
}
/* @media only screen and (max-width: 750px) {
  .header {
    font-size: 0.9em;
  }
  .wrapper {
    margin-top: 0;
  }
} */
