.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.formContainer {
  color: white;

  width: 60%;
}
.previousButton,
.submitButton {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-style: none;
  outline: none;
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
  font-weight: bold;
  background-color: #11cf84;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.previousButton,
.submitButton:hover {
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  .header {
    font-size: 0.9em;
  }
  .wrapper {
    margin-top: 0;
  }
}
