.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 45vh;
  margin-top: 5%;
}

.optionsCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: white;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 1px 1px 5px;
  transition: 200ms;
}

.optionsCard:hover {
  cursor: pointer;
  background: #d5f1ff;
  box-shadow: 2px 2px 5px;
}
.cardContainer:hover {
  cursor: pointer;
  background: rgba(108, 122, 137, 0.4);
  box-shadow: 2px 2px 5px;
}

.optionsCard p {
  width: 40%;
  text-align: center;
  font-size: 22px;
}

.cardContainer {
  width: 300px;
  height: 200px;
  background-color: rgba(108, 122, 137, 0.2);
  border-radius: 5px;
  text-align: center;
  transition: 200ms;
  margin: 5%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
