.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.optionsCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 200px;
  background: white;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
  transition: 200ms;
}

.optionsCard:hover {
  cursor: pointer;
  background: #d5f1ff;
  box-shadow: 2px 2px 5px;
}

.optionsCard p {
  width: 40%;
  text-align: center;
  font-size: 22px;
}
