.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.formContainer {
  color: white;

  width: 60%;
}
.question {
  display: flex;
  justify-content: center;
}
.previousButton,
.reviewButton {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-style: none;
  outline: none;
  margin: 20px 0px;
  padding: 10px;
  border-radius: 7px;
  font-weight: bold;
  background-color: #11cf84;
  width: 100%;
}
.input {
  height: 40%;

  background-color: #e0e0e0;
  width: 95%;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
}
.previousButton,
.reviewButton:hover {
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  .header {
    font-size: 0.9em;
  }
  .wrapper {
    margin-top: 0;
  }
}
