.bannerContainer {
  position: absolute;

  display: inline-block;
  width: 94%;

  height: 20%;
  left: 6%;
  background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf);
}
.bannerTitle {
  position: relative;
  top: 25%;
  color: white;
  left: 5%;
}
