@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400");
/* MAIN CONTAINERS */
.body {
  font-family: "Oxygen", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: "header form";

  height: 100vh;
}
.leftContainer {
  grid-area: header;

  color: white;

  background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf);
}
.rightContainer {
  display: flex;
  justify-content: center;
  grid-area: form;
  color: white;
  position: relative;
  margin: 0 5%;
  background-image: url(../../Images/starsBackground.png);
  /* background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png"); */
  font-weight: bold;
}
.formContainer {
  position: relative;
  top: 20%;
  width: 50%;
  color: white;
}
/* LEFT CONTAINER CONTENT */
/* SOC IMAGE */
.socImage {
  width: 200px;
  height: 200px;
}
.socImageContainer {
  top: 15%;
  position: relative;
  text-align: center;
}
.instructionsContainer {
  position: relative;
  top: 25%;
  font-size: 1.3em;
  margin: 0;
  /* margin-top: 20px; */
  /* margin-left: 20px; */
  padding: 0;
  margin: 0px 10%;
}
.instructionsContainer li {
  margin-bottom: 30px;
  list-style: circle;
}

.instructionsBox {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.8em;
  position: relative;
  top: 20%;
  display: flex;
  justify-content: center;
}

.phone,
.age,
.location {
  font-size: inherit;
  color: white;
  padding: 6px 0 7px;
  width: 100%;
  background-color: transparent;
  border-style: none;
  border-bottom: 2px solid #11cf84;
  box-sizing: border-box;
  margin-top: 20px;
  -webkit-tap-highlight-color: transparent;
}

.nextButton {
  font-size: 1.2em;
  font-weight: bold;

  cursor: pointer;

  width: 25%;
  color: white;
  padding: 10px;
  border-style: none;
  background-color: #11cf84;
}
.previousButton {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;

  width: 25%;
  color: white;
  padding: 10px;
  border-style: none;
  background-color: #11cf84;
}
.previousAndNextContainer {
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  bottom: 15%;
}
::placeholder {
  color: white;
}
.phoneLabel,
.ageLabel,
.locationLabel {
  font-weight: bold;
  color: white;
  font-size: 1.3em;
}

.phoneContainer,
.ageContainer,
.locationContainer {
  margin-bottom: 60px;
}
.header {
  color: white;
}

.applicationFormText {
  position: relative;
  top: 10%;
  text-align: center;
}
.applicationStepText {
  position: absolute;
  margin-top: 80px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
