body {
  font-family: "Oxygen", sans-serif;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
}

.wrapper {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
}
.container {
  background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf);
  display: flex;
  margin: 2% auto;
  height: 90vh;
  border: 3px solid white;
  border-radius: 10px;
  width: 70%;
}
.socImage {
  position: relative;
  top: 5%;
  width: 100%;

  display: inline-flex;
  justify-content: center;
}
.leftContainer {
  width: 25%;
  border-radius: 1px;
  background-color: rgb(255, 255, 255);
  border-right: 3px solid white;
}
.rightContainer {
  position: relative;

  width: 75%;
  font-weight: bold;

  color: white;
  background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf);
}

h1 {
  font-weight: bold;
}
h1,
h3 {
  text-align: center;
}
.socialMediaContainer {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}
.twitterContainer,
.facebookContainer,
.youtubeContainer,
.linkedInContainer,
.mediumContainer,
.locationContainer,
.emailContainer {
  display: inline-flex;

  background-color: rgba(34, 34, 34, 0.452);
  border-radius: 20%;
}
.twitterLogo,
.facebookLogo,
.youtubeLogo,
.linkedInLogo,
.mediumLogo,
.locationLogo,
.emailLogo {
  width: 25px;
  height: 25px;
}

.twitterContainer:hover {
  cursor: pointer;
  background-color: #00acee;
}
.facebookContainer:hover {
  cursor: pointer;
  background-color: #3b5998;
}
.youtubeContainer:hover {
  cursor: pointer;
  background-color: #c4302b;
}
.linkedInContainer:hover {
  cursor: pointer;
  background-color: #0077b5;
}
.mediumContainer:hover {
  cursor: pointer;
  background-color: #00ab6c;
}
.locationContainer:hover {
  cursor: pointer;
  background-color: #c4302b;
}
.emailContainer:hover {
  cursor: pointer;
  background-color: #3b5998;
}
.contactContainer {
  display: flex;
  justify-content: center;
}
.locationContainer {
  margin-right: 20px;
}
h2 {
  margin: 0px;
  text-align: center;
  color: white;
}
h3 {
  margin: 5px;
}
/* RIGHT CONTAINER */
