/* FULL CONTAINER */
body {
  font-family: "Oxygen", sans-serif;
}
h1 {
  font-weight: bold;
}
h1,
h3 {
  text-align: center;
}
h2 {
  margin: 0px;
  text-align: center;
  color: white;
}
h3 {
  margin: 2px;
}

.videoUploadContainer {
  display: inline-block;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "header form";
  margin: 2% auto;
  height: 90vh;
  width: 70%;
  border: 7px solid white;
  border-radius: 7px;
}
.wrapper {
  position: fixed;

  width: 100%;
  height: 100%;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  /* background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf); */
}
/* LEFT CONTAINER CONTENT */
.leftContainer {
  grid-area: header;
  height: 100%;
  color: white;
  border-right: 3px solid white;
  background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf);
}
.socImageContainer {
  position: relative;
  top: 5%;
  width: 100%;

  display: inline-flex;
  justify-content: center;
}
.socImage {
  width: 200px;
  height: 200px;
}
.webAddress {
  display: flex;
  justify-content: center;
}
.followUs {
  margin: 3%;
}

.contactUs {
  margin: 3%;
}
.headers {
  margin-bottom: 10%;
}

.locationContainer {
  margin-right: 20px;
}

.socialMediaContainer {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}
.twitterContainer,
.facebookContainer,
.youtubeContainer,
.linkedInContainer,
.mediumContainer,
.locationContainer,
.emailContainer {
  display: inline-flex;

  border-radius: 5px;
}
.twitterLogo,
.facebookLogo,
.youtubeLogo,
.linkedInLogo,
.mediumLogo,
.locationLogo,
.emailLogo {
  width: 40px;
  height: 40px;
}

.twitterContainer:hover {
  cursor: pointer;
  background-color: #00acee;
}
.facebookContainer:hover {
  cursor: pointer;
  background-color: #3b5998;
}
.youtubeContainer:hover {
  cursor: pointer;
  background-color: #c4302b;
}
.linkedInContainer:hover {
  cursor: pointer;
  background-color: #0077b5;
}
.mediumContainer:hover {
  cursor: pointer;
  background-color: #00ab6c;
}
.locationContainer:hover {
  cursor: pointer;
  background-color: #c4302b;
}
.emailContainer:hover {
  cursor: pointer;
  background-color: #3b5998;
}
.contactContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.locationContainer {
  margin-right: 20px;
}
/* RIGHT CONTAINER CONTENT */
.rightContainer {
  grid-area: form;
  color: white;
  position: relative;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  font-weight: bold;
}
/* LOGO MEDIA QUERY */
@media only screen and (max-width: 1290px) {
  .socImage {
    height: 220px;
    width: 220px;
  }
}
@media only screen and (max-width: 980px) {
  .socImage {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 875px) {
  .socImage {
    height: 180px;
    width: 180px;
  }
}

@media only screen and (max-width: 785px) {
  .socImage {
    height: 160px;
    width: 160px;
  }
}
@media only screen and (max-width: 720px) {
  .socImage {
    height: 140px;
    width: 140px;
  }
}

/* RIGHT CONTAINER MEDIA QUERY */

/* MOBILE VIEW */
@media only screen and (max-width: 550px) {
  .socImage {
    display: none;
  }
  .leftContainer {
    width: 100%;
  }
  .socialMediaContainer {
    display: none;
  }
  .contactContainer {
    display: none;
  }
  .followUs {
    display: none;
  }
  .contactUs {
    display: none;
  }
}
@media only screen and (max-width: 549px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "header" "form";
    margin: 2% auto;
    height: 100%;
    border: 7px solid white;
    border-radius: 7px;
    width: 70%;
  }
}
