/* FULL CONTAINER */
body {
  font-family: "Oxygen", sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}
.wrapper {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
}
/* LEFT CONTAINER CONTENT */
.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: white;
  background-image: linear-gradient(
    to bottom right,
    rgba(48, 143, 214, 0.57),
    rgba(108, 122, 137, 0.33)
  );
  /* background-color: rgba(49, 165, 220, 0.1); */
  /* background-image: linear-gradient(to bottom right, #04d94296, #5f04cf7a); */
}
/* SOC IMAGE */
.socImage {
  width: 200px;
  height: 200px;
  padding: 20px;
  box-shadow: 2px 2px 10px #fff;
  border-radius: 200px;
}
.socImageContainer {
  padding: 20px 0;
}

.instructionsContainer {
  padding: 20px 0;
}

.instructionsBox {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.8em;
  position: relative;
  top: 30%;
  display: flex;
  justify-content: center;
}
.headers {
  margin-bottom: 10%;
}

/* RIGHT CONTAINER CONTENT */
.rightContainer {
  display: flex;
  align-items: center;
  flex: 2;
  color: white;
  position: relative;
  margin: 0 5%;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  font-weight: bold;
}
.applicationFormText {
  padding: 20px;
}

.subVideoInstructions {
  text-align: center;
}

.keysContainer {
  margin-left: 65px;
}

.keysContainer p {
  text-align: left;
}

.iconContainer {
  position: relative;
  padding: 10px;
}

.iconContainer img {
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
}

.startRecording {
  position: relative;
}

/* LOGO MEDIA QUERY */
/* @media only screen and (max-width: 1290px) {
  .socImage {
    height: 220px;
    width: 220px;
  }
}
@media only screen and (max-width: 980px) {
  .socImage {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 875px) {
  .socImage {
    height: 180px;
    width: 180px;
  }
}

@media only screen and (max-width: 785px) {
  .socImage {
    height: 160px;
    width: 160px;
  }
}
@media only screen and (max-width: 720px) {
  .socImage {
    height: 140px;
    width: 140px;
  }
} */

/* RIGHT CONTAINER MEDIA QUERY */

/* MOBILE VIEW */
/* @media only screen and (max-width: 550px) {
  .socImage {
    display: none;
  }
  .leftContainer {
    width: 100%;
  }
}
@media only screen and (max-width: 549px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "header" "form";
    margin: 2% auto;
    height: 100%;
    border: 7px solid white;
    border-radius: 7px;
    width: 70%;
  }
} */
