.container {
  position: relative;

  width: 100%;
}
.infoAreaBox {
  display: inline-block;
  position: absolute;
  left: 74%;
  top: 22%;
  width: 25%;
  height: 70%;
}
.topicsContainer {
  display: inline-flex;
  position: absolute;
  top: 22%;
  left: 7%;
  width: 64%;
  height: 70%;
}
.rowOne {
  width: 100%;
  height: 50%;
}
.htmlBox,
.cssBox,
.jsBox,
.reactBox {
  width: 20%;
  height: 40%;
  display: inline-flex;
  justify-content: space-around;

  margin: 2%;
}
.reactBox {
  display: inline-flex;

  height: 50%;
}
