.navContainer {
  display: inline-flex;
  justify-content: center;

  width: 6%;
}
.iconsContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}
.homeIcon,
.calendarIcon,
.glassesIcon,
.infoIcon {
  height: 40px;
  width: 40px;
}
