/* MAIN CONTAINERS */

.container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: "header form";
  /* background-image: url(../../Images/starsBackground.png); */
  height: 100vh;
}
.leftContainer {
  grid-area: header;
  /* border-right: 5px solid white; */
  color: white;
  background-image: linear-gradient(
    to bottom right,
    rgba(48, 143, 214, 0.57),
    rgba(108, 122, 137, 0.33)
  );
}
.rightContainer {
  display: flex;
  justify-content: center;
  grid-area: form;
  color: white;
  position: relative;
  font-weight: bold;
}
.formContainer {
  position: relative;
  top: 20%;
  width: 50%;
  color: white;
}
/* LEFT CONTAINER CONTENT */
/* SOC IMAGE */
.socImage {
  width: 200px;
  height: 200px;
  padding: 20px;
  box-shadow: 2px 2px 10px #fff;
  border-radius: 200px;
}
.socImageContainer {
  top: 15%;
  position: relative;
  text-align: center;
}
.instructionsContainer {
  position: relative;
  top: 22%;
  font-size: 1.3em;
  margin: 0;
  /* margin-top: 20px; */
  /* margin-left: 20px; */
  padding: 0;
  margin: 0px 10%;
}
.instructionsContainer li {
  margin-bottom: 30px;
  list-style: none;
  font-size: 1.2em;
  text-align: center;
}

.instructionsBox {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.8em;
  position: relative;
  top: 20%;
  display: flex;
  justify-content: center;
}

/* RIGHT CONTAINER CONTENT */
.firstAndLastNameContainer {
  display: flex;
}
/* .firstNameContainer {
  flex: 1;
}
.lastNameContainer {
  margin-left: 10px;
  flex: 1;
} */

.firstName,
.lastName,
.email {
  font-size: inherit;
  color: white;
  padding: 6px 0 7px;
  width: 100%;
  background-color: transparent;
  border-style: none;
  border-bottom: 2px solid #11cf84;
  box-sizing: border-box;
  margin-top: 20px;
  -webkit-tap-highlight-color: transparent;
}

.nextButton {
  font-size: 1.2em;
  font-weight: bold;

  cursor: pointer;
  position: absolute;
  bottom: 15%;
  width: 50%;
  color: white;
  padding: 10px;
  border-style: none;
  background-color: #11cf84;
  border-radius: 5px;
}

::placeholder {
  color: white;
}
.firstNameLabel,
.lastNameLabel,
.emailLabel {
  font-weight: bold;
  color: white;
  font-size: 1.3em;
}

.firstNameContainer,
.lastNameContainer,
.emailContainer {
  margin-bottom: 60px;
}
.header {
  color: white;
}

.applicationFormText {
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 2.2em;
}
.applicationStepText {
  position: absolute;
  margin-top: 80px;
  font-size: 2.2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
