@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400");
.body {
  font-family: "Oxygen", sans-serif;
}
.wrapper {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.formContainer {
  width: 60%;
}
.firstName,
.lastName,
.email {
  padding: 10px;
  margin-top: 5px;
  background-color: #e0e0e0;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  border-style: none;
}
.firstNameContainer,
.lastNameContainer,
.emailContainer,
.saveAndContinueContainer {
  margin: 5%;
}
.saveAndContinue {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  border-style: none;
  margin-top: 10px;
  box-sizing: border-box;

  color: white;
  font-weight: bold;
  background-color: #11cf84;
}
.saveAndContinue:hover {
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  .header {
    font-size: 0.9em;
  }
  .wrapper {
    margin-top: 0;
  }
  .firstNameContainer,
  .lastNameContainer,
  .emailContainer,
  .saveAndContinueContainer {
    margin: 0;
  }
}
