/*-------------------------
  Main Containers 
-----------------------*/
.userTray {
  height: 85vh;
  position: relative;
}

/*----------------------------
  Application Status Section
------------------------------*/
.applicationStatusContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 20px auto;
  position: relative;
}

ul.applicantListContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  background: rgba(1, 1, 1, 0.46);
  position: absolute;
  left: 19%;
  right: 19%;
  z-index: 1;
  opacity: 1;
  transition: 300ms ease-in-out;
}

ul.hideApplicantListContainer {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding: 0;
  background: rgba(1, 1, 1, 0.46);
  position: absolute;
  left: 19%;
  right: 19%;
  z-index: 1;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: 300ms ease-in-out;
}

/*----------------------------
  Admin Home Button
----------------------------*/
.adminDashboardHome {
  position: absolute;
  top: 2%;
  right: 2%;
}

.adminDashboardHome button {
  margin: 0 15px;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px;
  transition: 200ms;
}

.adminDashboardHome button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px;
}

/* ---------------------------
Application Status buttons 
-----------------------------*/

button {
  font-size: 14px;
}

.applicationStatusButtonActive {
  background: #57c7cc;
  margin: 0 25px;

  padding: 10px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  transition: 100ms;
}

.applicationStatusButtonActive:hover {
  cursor: pointer;
}

.applicationStatusButtonActive p {
  display: flex;
  align-items: center;
  margin: -9px;
  padding: 10px 10px;
  font-size: 16px;
}
.applicationStatusButton {
  margin: 0 25px;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  transition: 200ms;
}

.applicationStatusButton:hover {
  cursor: pointer;
  box-shadow: 2px 2px 3px;
}

.applicationStatusButton p {
  display: flex;
  align-items: center;
  margin: -9px;
  padding: 10px 10px;
  font-size: 16px;
}

.applicationsNumber {
  border-radius: 0px 4px 4px 0px;
  background: lightcoral;
  display: flex;
  align-items: center;
}

/*-----------------
Applicant Lists
-------------------*/

button.applicant {
  color: white;
  margin: 0 auto;
  padding: 2px;
  border-color: unset;
  border: 0;
  background: none;
  font-size: 30px;
  z-index: 1;
}

button.applicant:hover {
  cursor: pointer;
}

/*----------------------------
    Videos Rating Container 
-----------------------------*/
.videoRatingsContainer {
  display: flex;
  flex-wrap: wrap;
  background: white;
  box-shadow: 1px 1px 5px;
  margin: 10px;
  border-radius: 5px;
}

.videoRatingsContainer h2 {
  color: black;
  background: #ececec;
  padding: 10px;
  border: solid 1px;
  border-left: none;
  font-size: 22px;
}

.videoRatingsContainer div:first-of-type h2 {
  border-radius: 5px 0 0 0;
}

.videoRatingsContainer div:last-of-type h2 {
  border-right: none;
  border-radius: 0 5px 0 0;
}

/*--------------------
    User Details 
---------------------*/

.detailsContainer {
  flex: 0 30%;
  margin: 0 auto;
  border-radius: 5px;
}

.detailsContainer h3 {
  margin: 20px;
  font-size: 20px;
  padding: 10px;
  position: relative;
}

.detailsContainer h3:before {
  content: "";
  position: absolute;
  bottom: 20%;
  top: 20%;
  left: 10%;
  right: 10%;
  border-right: solid 2px;
  border-left: solid 2px;
}

.metaData {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.metaData div {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 20px;
  position: relative;
}

.metaData img {
  width: 35px;
  height: 100%;
}

.metaData p {
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.detailsSubContainer h2 {
  text-align: center;
}

/*-------------------------
        Videos
------------------------*/

.videosContainer {
  flex: 0 30%;
  text-align: center;
  position: relative;
}

.videoPlayer {
  margin: 20px 10px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
}

.toggleVideosContainer button {
  margin: 15px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px;
  transition: 200ms;
  background: #ececec;
}

.toggleVideosContainer button p {
  color: black;
  font-size: 18px;
}

.toggleVideosContainer button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px;
}

/*--------------------------
    Rate Videos 
----------------------------*/

.rateVideosContainer {
  flex: 0 30%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

div.overallRating {
  margin: 15px;
  color: black;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* .rateVideosContainer p:nth-last-of-type(1) {
  position: absolute;
  right: 10%;
  width: auto;
} */

.rateVideosContainer span {
  /* color: white; */
}

.detailsContainer,
.videosContainer,
.rateVideosContainer {
  flex: calc(30% - 5px);
}
