/* FULL CONTAINER */
body {
  font-family: "Oxygen", sans-serif;
}
.wrapper {
  position: fixed;

  width: 100%;
  height: 100%;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  /* background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf); */
}
.container {
  /* background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf); */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "header form";
  margin: 2% auto;
  height: 90vh;
  width: 70%;
}
h4 {
  margin: 0px;
}

h1 {
  font-weight: bold;
}
h1,
h3 {
  text-align: center;
}

h2 {
  margin: 0px;
  text-align: center;
  color: white;
}
h3 {
  margin: 2px;
}
/* LEFT CONTAINER */
.headers {
  margin-bottom: 10%;
}
.loginContainer {
  margin-bottom: 10%;
}
.leftContainer {
  background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf);
  /* background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png"); */
  grid-area: header;
  color: white;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border: #e0e0e0 solid 7px;
}
.socialMediaContainer {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
.twitterContainer,
.facebookContainer,
.youtubeContainer,
.linkedInContainer,
.mediumContainer,
.locationContainer,
.emailContainer {
  display: flex;
  align-items: center;

  border-radius: 20%;
}
.twitterLogo,
.facebookLogo,
.youtubeLogo,
.linkedInLogo,
.mediumLogo,
.locationLogo,
.emailLogo {
  width: 40px;
  height: 40px;
}

.twitterContainer:hover {
  cursor: pointer;
  background-color: #00acee;
}
.facebookContainer:hover {
  cursor: pointer;
  background-color: #3b5998;
}
.youtubeContainer:hover {
  cursor: pointer;
  background-color: #c4302b;
}
.linkedInContainer:hover {
  cursor: pointer;
  background-color: #0077b5;
}
.mediumContainer:hover {
  cursor: pointer;
  background-color: #00ab6c;
}
.locationContainer:hover {
  cursor: pointer;
  background-color: #c4302b;
}
.emailContainer:hover {
  cursor: pointer;
  background-color: #3b5998;
}
.webAddress {
  display: flex;
  justify-content: center;
}
.contactContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.locationContainer {
  margin-right: 20px;
}

.followUs {
  margin: 3%;
}

.contactUs {
  margin: 3%;
}

/* RIGHT CONTAINER */
.subHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.moonImage {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  position: absolute;

  top: 85%;
  width: 100%;
  height: 15%;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.astronautImage {
  animation: float 6s ease-in-out infinite;
}
.astronautImage {
  position: absolute;
  top: 70%;
  width: 30%;
  height: 20%;
}
.planetImage {
  top: 40%;
  position: absolute;
  left: 70%;
  width: 30%;
  height: 40%;
}
.techHeading {
  font-size: 2.6em;
  position: relative;
}

.rightContainer {
  grid-area: form;
  position: relative;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: #e0e0e0 solid 7px;
  border-top: #e0e0e0 solid 7px;
  border-right: #e0e0e0 solid 7px;
  font-weight: bold;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  color: white;
}

.socImage {
  width: 200px;
  height: 200px;
}

.socImageContainer {
  position: relative;
  top: 20px;
  width: 100%;

  display: inline-flex;
  justify-content: center;
}

.sentenceOne {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
}
.sentenceTwo {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
}

.launchIntoTech {
  display: inline-block;
  position: absolute;
  left: 5%;
  font-size: 2.4em;
}
/* LOGO MEDIA QUERY */
@media only screen and (max-width: 550px) {
  .socialMediaContainer {
    display: none;
  }
  .contactContainer {
    display: none;
  }
  .followUs {
    display: none;
  }
  .contactUs {
    display: none;
  }
  .planetImage {
    display: none;
  }
  .launchIntoTech {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .socialMediaContainer {
    display: none;
  }
  .contactContainer {
    display: none;
  }
  .followUs {
    display: none;
  }
  .contactUs {
    display: none;
  }
  .planetImage {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "header" "form";
    margin: 5% auto;
    height: 100%;
    border: 7px solid white;
    border-radius: 7px;
    width: 70%;
    height: 90%;
  }
  .leftContainer {
    border: 0px;
    border-radius: 0px;

    border-bottom: #e0e0e0 solid 7px;
  }
  .rightContainer {
    border: 0px;
  }
  .planetImage {
    display: none;
  }
  .launchIntoTech {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .container {
    height: 90%;
  }
}
