/* FULL CONTAINER */
body {
  font-family: "Oxygen", sans-serif;
}
.wrapper {
  position: fixed;

  width: 100%;
  height: 100%;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  /* background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf); */
}
.subHeader {
  position: relative;
  top: 35%;
  font-size: 1.6em;
  text-align: center;
}

h1 {
  font-weight: bold;
}
h1,
h3 {
  text-align: center;
}

h2 {
  margin: 0px;
  text-align: center;
  color: white;
}
h3 {
  margin: 2px;
}
/* LEFT CONTAINER */
.headers {
  margin-bottom: 10%;
}
.loginContainer {
  position: relative;
  top: 40%;
}
.leftContainer {
  /* background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png"); */
  grid-area: header;
  color: white;
}
.socialMediaContainer {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  margin-bottom: 10%;
}

.webAddress {
  display: flex;
  justify-content: center;
}
.contactContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

/* RIGHT CONTAINER */

.moonImage {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  position: absolute;

  top: 85%;
  width: 100%;
  height: 15%;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.astronautImage {
  animation: float 6s ease-in-out infinite;
}
.astronautImage {
  position: absolute;
  top: 60%;
  height: 30%;
}
.planetImage {
  top: 20%;
  position: absolute;
  left: 88%;

  height: 60%;
}

.launchIntoTech {
  color: white;
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 5%;
  font-size: 4em;
}
.sentenceOne,
.sentenceTwo {
  color: white;
}

.socImage {
  top: 5%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, 0);
  position: absolute;
  left: 50%;
}

/* @media only screen and (max-width: 550px) {
  .socialMediaContainer {
    display: none;
  }
  .contactContainer {
    display: none;
  }
  .followUs {
    display: none;
  }
  .contactUs {
    display: none;
  }
  .planetImage {
    display: none;
  }
  .launchIntoTech {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .socialMediaContainer {
    display: none;
  }
  .contactContainer {
    display: none;
  }
  .followUs {
    display: none;
  }
  .contactUs {
    display: none;
  }
  .planetImage {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "header" "form";
    margin: 5% auto;
    height: 100%;
    border: 7px solid white;
    border-radius: 7px;
    width: 70%;
    height: 90%;
  }
  .leftContainer {
    border: 0px;
    border-radius: 0px;

    border-bottom: #e0e0e0 solid 7px;
  }
  .rightContainer {
    border: 0px;
  }
  .planetImage {
    display: none;
  }
  .launchIntoTech {
    display: none;
  }
  .socImage {
    width: 150px;
    height: 150px;
  }
  .techHeading {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 350px) {
  .container {
    height: 90%;
  }
} */
