/* FULL CONTAINER */
body {
  font-family: "Oxygen", sans-serif;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
}
.subHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6em;
  text-align: center;
}

h1 {
  font-weight: bold;
}
h1,
h3 {
  text-align: center;
}

h2 {
  margin: 0px;
  text-align: center;
  color: white;
}
h3 {
  margin: 2px;
}
/* LEFT CONTAINER */
.headers {
  margin-bottom: 10%;
}
.loginContainer {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.leftContainer {
  /* background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png"); */
  grid-area: header;
  color: white;
}
.socialMediaContainer {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  margin-bottom: 10%;
}

.webAddress {
  display: flex;
  justify-content: center;
}
.contactContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

/* RIGHT CONTAINER */

.moonImage {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  position: absolute;
  top: 85%;
  width: 100%;
  height: 15%;
  z-index: 0;
}

.astronautImage {
}

.astronautImage {
  position: absolute;
  bottom: 2%;
  right: 81%;
  height: 25%;
  width: 25%;
  object-fit: contain;
  animation-name: float, astronautAnimation;
  animation-duration: 4s, 4s;
  animation-iteration-count: infinite, 1;
}
@keyframes astronautAnimation {
  0% {
    transform: translateX(-50%) scale(0);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.planetImage {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 70%;
  height: 60%;
  width: 60%;
  object-fit: contain;
  z-index: 1;
  animation-name: planetAnimation;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes planetAnimation {
  0% {
    transform: translateY(-50%) scale(0);
  }

  100% {
    transform: translateY(-50%) scale(1);
  }
}

.launchIntoTech {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 4em;
}
.sentenceOne,
.sentenceTwo {
  color: white;
}

.socImage {
  top: 15%;
  height: 30%;
  width: 30%;
  object-fit: contain;
  transform: translate(-50%, 0);
  position: absolute;
  left: 50%;
}

@media screen and (max-width: 990px) {
  .socImage {
    top: 8%;
  }

  .subHeader {
    top: 42%;
    width: 60%;
  }
  .launchIntoTech {
    display: none;
  }
  .planetImage {
    display: none;
  }
}
