.container {
  display: inline-block;

  position: absolute;
  left: 6%;
  top: 15%;
  width: 94%;
  height: 85%;
  background-image: linear-gradient(to bottom right, #04c7d9, #5f04cf);
}

.wrapper {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
}
