.bannerContainer {
  width: 100%;
  height: 15vh;
  padding: 30px 10px;
  /* background-image: linear-gradient(
    to bottom right,
    rgba(48, 143, 214, 0.57),
    rgba(108, 122, 137, 0.33)
  ); */
  background-image: linear-gradient(
      180deg,
      rgba(48, 143, 214, 0.57) 24%,
      rgba(108, 122, 137, 0.08)
    ),
    linear-gradient(90deg, transparent 78%, rgba(0, 0, 0, 0.95) 100%);
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}
.bannerWelcomeText {
  font-size: 35px;
  position: relative;
  color: white;
  font-family: "Oxygen", sans-serif;
  left: 5%;
}
.socLogo {
  position: absolute;
  right: 2%;
  /* width: 125px; */
  height: 90px;
  object-fit: cover;
  padding: 7px;
  box-shadow: 0px 0px 10px #fff;
  border-radius: 200px;
}
.todaysScheduleText {
  display: inline-block;
  position: relative;
  color: white;
  top: 30%;
}
