.bannerContainer {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  width: 100%;
  height: 15%;
  left: 6%;
}
.bannerWelcomeText {
  color: white;
  font-family: "Oxygen", sans-serif;
  margin-top: 3%;
  width: 70%;
  float: left;
  text-align: left;
}
.socLogo {
  margin-top: 1.5%;
  height: 75%;
  float: right;
}
.todaysScheduleText {
  display: inline-block;
  position: relative;
  color: white;
  top: 30%;
}
