.container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: "header form";

  height: 100vh;
}
.leftContainer {
  grid-area: header;

  color: white;
  background-image: linear-gradient(
    to bottom right,
    rgba(48, 143, 214, 0.57),
    rgba(108, 122, 137, 0.33)
  );
  /* background-color: rgba(49, 165, 220, 0.1); */
}

.rightContainer {
  display: flex;
  justify-content: center;
  grid-area: form;
  color: white;
  position: relative;
  margin: 0 5%;
  background-image: url(../../Images/starsBackground.png);
  /* background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png"); */
  font-weight: bold;
}
.formContainer {
  position: relative;
  top: 17%;
  width: 50%;
  color: white;
}
/* LEFT CONTAINER CONTENT */
/* SOC IMAGE */
.socImage {
  width: 200px;
  height: 200px;
  padding: 20px;
  box-shadow: 2px 2px 10px #fff;
  border-radius: 200px;
}
.socImageContainer {
  top: 15%;
  position: relative;
  text-align: center;
}
.instructionsContainer {
  position: relative;
  top: 22%;
  font-size: 1.3em;
  margin: 0;
  /* margin-top: 20px; */
  /* margin-left: 20px; */
  padding: 0;
  margin: 0px 10%;
}
.instructionsContainer li {
  margin-bottom: 30px;
  list-style: none;
  font-size: 1.2em;
}

.instructionsBox {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.8em;
  position: relative;
  margin: 0px 10%;
  display: flex;
  justify-content: center;
}

.nextButton {
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;

  width: 25%;
  color: white;
  padding: 10px;
  border-style: none;
  background-color: #11cf84;
}
.previousButton {
  border-radius: 5px;
  font-size: 1.3em;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;

  width: 25%;
  color: white;
  padding: 10px;
  border-style: none;
  background-color: #11cf84;
}
.previousAndNextContainer {
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  bottom: 15%;
}
.identifyContainer,
.situationContainer {
  margin-top: 5%;
}
.applicationFormText {
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 2.2em;
}
.applicationStepText {
  position: absolute;
  margin-top: 80px;
  font-size: 2.2em;
}
.saveAndContinueButton,
.previousButton {
  cursor: pointer;
}
.identifyText,
.situationText {
  font-size: 1.4em;
}
.questionOneContainer,
.questionTwoContainer {
  margin-top: 10px;
  font-size: 1.1em;
}
@media only screen and (max-width: 750px) {
  .header {
    font-size: 0.9em;
  }
  .wrapper {
    margin-top: 0;
  }
  .identifyContainer,
  .situationContainer {
    margin: 0;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
