.topicsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.topicsTitle {
  padding: 10px;
  margin: 5px;
  color: black;
  text-align: start;
}

.topicsContainer button {
  flex: 0 1 15%;
  font-size: 16px;
  margin: 0 10px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
  transition: 200ms ease-in-out;
}

.topicsContainer button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px;
}

#searchBar {
  color: black;
  width: 96%;
  height: 60px;
  border: 3.5px #11cf84 solid;
  vertical-align: text-top;
  border-radius: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  margin-bottom: 4%;
}

input::placeholder {
  color: rgba(189, 195, 199, 1);
  font-size: 24px;
  text-align: start;
  vertical-align: top;
}
