.videoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

#videoUpload {
  border: 5px #11cf84 solid;
  border-radius: 5px;
  width: 100%;
}

.startRecording {
  width: 31%;
  padding: 0.5%;

  /* color: white; */
  /* background: url("/record.png"); */
  /* border-style: none; */
  /* background-color: #11cf84; */
  /* font-size: 1.2em; */
  /* font-weight: bold; */
  cursor: pointer;
}

.stopRecording {
  width: 31%;

  padding: 0.5%;

  /* color: white;

  border-style: none;
  background-color: red;
  font-size: 1.2em;
  font-weight: bold; */
  cursor: pointer;
}

.playRecording {
  width: 31%;

  padding: 0.5%;

  /* color: white;

  border-style: none;
  background-color: red;
  font-size: 1.2em;
  font-weight: bold; */
  cursor: pointer;
}
.submitRecording {
  width: 7%;

  padding: 0.25%;
  position: absolute;
  right: 0;

  /* color: white;
  padding: 10px;
  border-style: none;
  background-color: #11cf84;
  font-size: 1.2em;
  font-weight: bold; */
  cursor: pointer;
}
.submitFinalVideos {
  width: 7%;

  padding: 0.25%;
  position: absolute;
  right: 0;

  /* color: white;
  padding: 10px;
  border-style: none;
  background-color: #11cf84;
  font-size: 1.2em;
  font-weight: bold; */
  cursor: pointer;
}

.buttonContainer {
  width: 100%;
  position: relative;
}

.leftContainer {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
  left: 0;
}

.stepText {
  font-size: 1.9em;
  margin: 0px;
  text-align: start;
}
.questionsText {
  font-size: 1.6em;
  text-align: center;
  margin: 5px 0;
}

#loadingCircle {
}
/* SUBMIT CSS */
.rightContentWrapper {
  border-radius: 10px;
  border: 10px solid red;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  padding: 20px;
}
.subTextOne {
  margin: 2%;
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center;
  font-style: italic;
}
.headerMessage {
  text-transform: capitalize;
  font-size: 1.7em;
  margin: 10px;
}
.rightContentWrapper img {
  width: 200px;
  height: 100px;
  position: relative;
}
.rightContentWrapper img:hover {
  cursor: pointer;
}
