.bannerContainer {
  display: inline-block;
  width: 100%;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-black-empty-space-with-stars-dark-science-background-with-movement_rrrhaewqg_thumbnail-full01.png");
  height: 15%;
}
.bannerWelcomeText {
  display: inline-block;
  position: relative;
  left: 100px;
  color: white;
  font-family: "Oxygen", sans-serif;
}
